.emptyCart {
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto auto ;
  align-items: center;
  justify-items: center;
  gap: 20px;
  text-align: center;
  align-self: center;
}

.title {
  font-size: 18px;
}

.description {
  color: gray;
  padding-bottom: 20px;
}