.items {
  display: grid;
}

.title {
    margin-bottom: 40px;
}

.itemsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    row-gap: 40px;
    justify-content: space-between;
    grid-column: 1 / 3;
  }

.search {
    grid-column: 2 / 3;
    justify-self: end;
  }

