body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(229, 252, 244);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  button {
    padding: 0px;
  }

  a:active,
  a:hover,
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}





.logo {
  width: 40px;
  height: 40px;
}

.icon {
  width: 18px;
  height: 18px;

  &_size_s {
    width: 11px;
    height: 11px;
  }

  &_size_m {
    width: 15px;
    height: 15px;
  }

  &_size_xl {
    width: 22px;
    height: 22px;
  }
}

.cart-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px lightgray solid;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  &_hovered {
    background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
  }
}

.like-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px lightgray solid;
  border-radius: 7px;

  &_hovered {
    background: #FEF0F0;
  }
}