.mainHeader {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px;
  padding-right: 60px;
  border-bottom: 1px lightgray solid;
}

.leftWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
}

.logo {
  margin-right: 15px;
}

.title {
  text-transform: uppercase;
}

.item {
  display: grid;
  align-items: center;
  padding-left: 40px;

  &Cart {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
  }
}

.rightWrapper {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  justify-items: end;
  align-items: center;
}

.cartSum {
  font-size: 14px;
}